<div class="content_wrapper">
  <div class="header_wrapper">
    <div class="page_header">
      <h1><%= tt(:posts, :title) %></h1>
      <div class="create_button"><%= link_to tt(:posts, :create), new_admin_post_path %></div>
    </div>
  </div>
  <div class="page_wrapper">
    <div class="page_content">
      <div class="filter_form_wrapper">
        <%= form_for_filter(Post) %>
      </div>
      <div class="table_wrapper">
        <table cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <td class="left"><%= tt(:activerecord, :attributes, :post, :title) %></td>
              <td><%= tt(:activerecord, :attributes, :post, :created_at) %></td>
            </tr>
          </thead>
          <tbody>
            <%= render @posts %>
          </tbody>
        </table>

        <%= will_paginate @posts %>
      </div>
    </div>
  </div>
</div>
