<div class="form_wrapper">

  <% if @user.errors.any? %>
    <div class="error_explanation">
      <i class="material-icons">error_outline</i>
      <h2>Errors:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for [:admin, @user] do |f| %>
    <div class="form_item">
      <div class="label_item"><%= f.label :email %></div>
      <div class="input_item"><%= f.text_field :email %></div>
    </div>
    <div class="form_item">
      <div class="label_item"><%= f.label :password %></div>
      <div class="input_item"><%= f.password_field :password %></div>
    </div>
    <div class="form_item actions">
      <div class="input_item">
        <%= f.submit %>
        <%= link_to 'Delete', admin_user_path(@user), method: :delete, class: 'delete', data: {confirm: 'are you sure?'} if @user.persisted? %>
      </div>
    </div>
  <% end %>
</div>
